@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "index";
@import "contacts";
@import "projects";
@import "project";

a:link { color: $link-color }
a:active { color: $link-color }
a:visited { color: $link-color }
a:hover { color: $link-color }

html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

#content {
  padding: 0 $default-content-padding 0 $default-content-padding;
  flex: 1;
}

#footer {
  padding: 0 $default-content-padding 0 $default-content-padding;
  flex-shrink: 0;
}

#header {
  padding: 0 $default-content-padding 0 $default-content-padding;
}
