@import "variables";
@import "mixins";
@import "index";
@import "contacts";
@import "projects";
@import "project";

a:link { color: $link-color }
a:active { color: $link-color }
a:visited { color: $link-color }
a:hover { color: $link-color }
